<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sellas.web.schedule.ScheduleDAO">

<select id="auctionDeadlineCheck" resultType="Map">
	SELECT tno
	FROM trade
	WHERE ttype = 1 AND trade.tauctionstate = 2 AND tdate + INTERVAL 2 DAY &lt;= NOW();
</select>

<select id="auctionInfo" parameterType="Map" resultType="Map">
	SELECT trade.tno,
	COALESCE(auctionhistory.ano, null) AS ano
	FROM trade
		LEFT JOIN auctionhistory
		ON auctionhistory.tno = trade.tno AND auctionhistory.astate = 2
	WHERE trade.ttype = 1 AND trade.tno = #{tno}
</select>

<update id="auctionTerminating" parameterType="Map">
	UPDATE trade
	SET tauctionstate = #{endtype}
	WHERE trade.ttype = 1 AND tno = #{tno}
</update>

<update id="setWinningBidder" parameterType="Map">
	UPDATE auctionhistory
	SET astate = 0
	WHERE ano = #{ano} AND tno = #{tno}
</update>

</mapper>