<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sellas.web.trade.TradeDAO">

<select id="getItemCategoryList" resultType="Map">
	SELECT *
	FROM itemcategory
	ORDER BY ino
</select>

<select id="getLocationList" resultType="Map">
	SELECT lname, llat, llng
	FROM location
	WHERE muuid = #{muuid}
</select>

<insert id="addNormalTradeItem" parameterType="Map">
	INSERT INTO trade (ino, muuid, ttype, ttitle, tcontent, tlocationlat, tlocationlng, tnormalprice, tnormalstate, tnormalhikeup)
	VALUES (#{category}, #{muuid}, #{tradeType}, #{title}, #{content}, #{locationLat}, #{locationLng}, #{normalPrice}, 0, 0)
	<selectKey keyProperty="tno" order="AFTER" resultType="java.lang.Integer"> SELECT LAST_INSERT_ID() AS tno </selectKey>
</insert>

<insert id="addAuctionTradeItem" parameterType="Map">
	INSERT INTO trade (ino, muuid, ttype, ttitle, tcontent, tlocationlat, tlocationlng, tauctionstartprice, tauctionminbidunit, tauctionstate)
	VALUES (#{category}, #{muuid}, #{tradeType}, #{title}, #{content}, #{locationLat}, #{locationLng}, #{auctionStartPrice}, #{auctionMinBidUnit}, 2)
	<selectKey keyProperty="tno" order="AFTER" resultType="java.lang.Integer"> SELECT LAST_INSERT_ID() AS tno </selectKey>
</insert>

<select id="checkBalance" parameterType="String" resultType="Integer">
	SELECT mbalance FROM member WHERE muuid=#{muuid}
</select>

</mapper>