@charset "UTF-8";

button {
	width: 100px;
	height: 30px;
	background-color: white;
	border: 1px solid #88abff;
	border-radius: 5px;
	margin: 0px auto;
}

#keyword {
	width: 72%;
	height: 30px;
}

.categoryButton {
	width: 300px;
	height: 50px;
	border: none;
}

.activated {
	background-color: rgba(12, 77, 255, 0.1);
}

.auctionDiv {
	margin: 100px 0px;
}

.itemTitle {
	width: 220px;
	height: 48px;
	font-size: 22px;
	font-weight: bolder;
}

.itemCategory {
	text-align: center;
}

.readNumber {
	text-align: right;
	padding-top: 25px;
	width: 40px;
}

.sellerNickname {
	width: 160px;
}

.startDate {
	width: 100px;
	text-align: right;
}

.currentBidPrice {
	width: 120px;
}

.currentBidPriceValue {
	text-align: right;
	font-weight: bolder;
	color: #88abff;
}

.minimumBidPrice {
	width: 120px;
	margin-left: 20px;
}

.minimumBidPriceValue {
	text-align: right;
	font-weight: bolder;
	color: #38abff;
}

.hour {
	width: 28px;
	text-align: right;
}

.minute {
	width: 28px;
	text-align: right;
}

.second {
	width: 28px;
	text-align: right;
}

.timeDivider{
	width:16px;
	text-align: left;
}

.remainingTime {
	display: flex;
	background-color: rgba(0, 0, 0, 0.1);
}

.ItemInfo {
	margin: 0px 10px;
}

.OverviewInfo {
	display: flex;
	width: 260px;
	border-bottom: 1px solid #88abff;
}

.RegistrationInfo {
	display: flex;
	width: 260px;
	margin-bottom: 10px;
}

.PriceInfo {
	display: flex;
	width: 260px;
}

.auctionItemDiv {
	margin: 35px 0px;
	display: flex;
}

.categoryFilter {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 1;
	overflow: hidden;
}

.categoryList {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	padding: 20px;
	border-radius: 5px;
}

.closeCategoryFilter {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 20px;
	cursor: pointer;
	color: #000;
}