@charset "UTF-8";

.cateName{
	text-align: center;
}
.cateName a{
	text-decoration: none;
	color: gray;
	font-size: 14px;
}

.bwriteContainer, .beditContainer{
	margin: auto;
	padding: auto;
	width: 90%;
	height: 90%;
}
.btitleBox{
	margin-bottom: 10px;
}

button {
	width: 350px;
	height: 50px;
	background-color: white;
	border: 1px solid #88abff;
	border-radius: 5px;
	margin: 0px auto;
}

.form-floating {
	margin: 0px auto;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
	text-align: center;
}
.accordion-item, .accordion-header{
	width: 100%;
}

#accordion {
	width: 100%;
}

#picker2, #camera {
	width: 50px;
}

#btitle{
	width: inherit;
}

#bcontent{
	width: inherit;
	height: 300px;
}

.bimageBox {
	margin: auto;
	padding: 0;
	width: 100%;
}
.photoInputs, .boardimg{
	margin: 10px;
}

.bwriteBtnBox {
	margin: 10px 0;
	padding: 0;
	width: 100%;
	display: inline-block;
	position: relative;
    top: 100px;
}
.bwriteButton{
	padding: 0;
	width: 100%;
}

.buttonBox{			/* boardWrite */
	width: 100%;
	position: relative;
    padding-bottom: 85px;
    margin-top: 20px;
    display: inline-block;
}
.editbtn, .editCancelbtn{	/* boardEdit */
	width: 90px;
   	height: 35px;
   	float: right;
   	background-color: white;
   	border: 1px solid #88abff ;
   	border-radius: 5px;
   	margin: 5px;
}

/****************** boardEdit *******************/

.boardImg{
	width: 250px;
	margin: 10px;
}

.imgEditbtn{
	margin: auto;
	width: 40px;
	height: 30px;
	font-size: 14px;
	border: none;
	padding: 0;
}
