@charset "UTF-8";
*{
	background-color:rgb(175,192,207);
}
img {
  	max-width: 100%;
  	

}
.inbox_people {
    position: fixed;
    display: fixed;
    height: 60px;
    background: #acc0d0 none repeat scroll 0 0;
    float: left;
    overflow: hidden;
    width: 100%;
    padding-top: 10px;
    opacity: 0.85;
}

.headind_srch {
    display: flex;
    padding: 10px 29px 10px 20px;
    overflow: hidden;
}

.recent_heading {
    display: flex;
    align-items: center; /* 세로 정렬 추가 */
}

.recent_heading a {
    margin-right: 10px; /* a 태그와 h4 태그 사이의 간격 조절 */
    color: #0a0a0a;
}

.thingname {
    display: flex;
    align-items: center; /* 텍스트를 세로 중앙 정렬합니다. */
    justify-content: center; /* 텍스트를 가로 중앙 정렬합니다. */
}

.recent_heading h4 {
    color: #0a0a0a;
    font-size: 15px;
    font-weight: bold;
    margin-left: 0; /* 기존에 있던 margin-left 제거 */
}
.inbox_msg {
    overflow-y: auto;
    background-color: #acc0d0;
    box-sizing: border-box;
}


.msg_history {
	margin-top:60px;
  	padding: 30px 15px 0 25px;
  	background-color: #acc0d0;
  	overflow-y: auto;
  	height: 940px;
  	margin-bottom:10px;
}
.incoming_msg_img {
  	display: inline-block;
  	width: 6%;
  	border-radius: 50%;
}	
.received_msg,
.sent_msg {
    word-wrap: break-word;
}
.received_msg {
 	display: inline-block;
 	padding: 0 0 0 10px;
  	vertical-align: top;
  	max-width: 70%;
  	min-width: 35%;
 }
 .received_withd_msg p {
  	background: #f8f8f9 none repeat scroll 0 0;
  	border-radius: 3px;
  	color: #0a0a0a;
  	font-size: 14px;
  	margin: 0;
  	padding: 5px 10px 5px 12px;
  	width: 100%;
}
.time_date {
  	color: #0a0a0a;
  	display: block;
  	font-size: 10px;
  	margin: 8px 0 0;
}
.received_withd_msg { 
	width: 57%;
}
.outgoing_msg{ 
	overflow:hidden; 
	margin:26px 0 26px;
}
.sent_msg {
  	float: right;
  	max-width: 70%;
  	min-width: 15%;
}
.sent_msg p {
  	background: #fde401 none repeat scroll 0 0;
  	border-radius: 3px;
  	font-size: 14px;
  	margin: 0; 
  	color:#0a0a0a;
  	padding: 5px 10px 5px 12px;
  	width:100%;
}
.type_msg{
	background:rgb(254,254,254) !important;
	width: 100%;
	position: fixed;
	bottom:0;
}
.input_msg_write {
  	display: flex;
	background:rgb(254,254,254) !important; 
}
.toggleBtnBox{
	background:rgb(254,254,254) !important;
}
.xi-plus {
	background:rgb(254,254,254) !important;
	margin-top: 2px;
  	font-size: 175%;
  	margin-right: 10px; /* 아이콘과 인풋 간격 조절 */
  	margin-left: 10px;
  	display:flex !important;
  
}
.write_msg {
	margin-top: 2px;
	margin-right: 5px;
  	width: calc(100% - 38px); 
  	height:30px;
  	border: 1px solid rgb(247,247,247);
  	border-radius: 10px;
  	color: #4c4c4c;
  	font-size: 15px;
  	background: rgb(248,248,248);
}
.hide{
	background:rgb(254,254,254) !important; 
    display: none !important;
 }
.tBtnBox {
	background:rgb(254,254,254) !important; 
    display: flex !important;
}
.button-container {
	background:rgb(254,254,254) !important; 
    display: flex;
    flex-direction: column;
    align-items: center; /* 수직 방향 가운데 정렬 */
	text-align: center;
}
.buttontext{
	background:rgb(254,254,254) !important; 
	margin-top: 5px;
	text-align: center;
    font-size: 10px;
}

#tradeamountbutton{
	background-color:#8FBC8F;
}
#tradeRequestbutton{
	background-color:#ADD8E6;
}
#tradeAcceptbutton{
	background-color:#D8BFD8;
}
#tradeCancelbutton{
	background-color:#E6E6FA  ;
}
#pickerbutton{
	background-color:#FFB6C1;
}
#tradeokbutton,
#tradenobutton {
	background:rgb(254,254,254) !important; 
    width: 35px;
    height: 35px;
    background-color: white;
    border: medium none;
    border-radius: 50%;
    margin-top:15px;
    margin-left:20px;
    margin-right:20px;
    text-align: center;
}
#tradeamountbutton,
#tradeRequestbutton,
#tradeAcceptbutton,
#tradeCancelbutton,
#pickerbutton,
#pushbutton{
	background:rgb(254,254,254) !important; 
   width: 35px;
   height: 35px;
   background-color: white;
   border: medium none;
   border-radius: 50%;
   margin-top:15px;
    margin-left:20px;
    margin-right:20px;
   text-align: center;
   display: inline-block;
}
.card-img-top{
	background:rgb(254,254,254) !important; 
	padding-bottom:1px;
}
.btnClicked{
   transition: transform 0.5s ease;
}