@charset "UTF-8";

.cateName{
	text-align: center;
}
.cateName a{
	text-decoration: none;
	color: gray;
	font-size: 14px;
}

.detailContainer{
	margin: auto;
	padding: 0;
	width: 90%;
	height: 80%;
}

.titleBox, .contentBox{
	margin: 10px;
	padding: 0;
	width: 100%;
	border-bottom: 1px solid #dee2e6;
}
.titleBox{
	height: 30%;
	
}
.contentBox{
	margin: 10px;
	padding: 0;
	width: 100%;	
	height: 60%;
	border-bottom: 1px solid #dee2e6;
}

.bBtnBox{
	margin: 5px;
	padding: 0;
	float: right;
}

/****************** comments *******************/

.commentContainer{
	width: 100%;
	height: 20%
}
.commentBox{
	margin: 0;
	padding: 0;
	width: 100%
}
.cContent{
	width: 100%
}
.cWholeBtn{
	width: 100%;
	margin: 5px;
}
.cComtent{
	width: 100%; 
}
.cWriteBox{
	width: 80%;
	margin: 5px;
	padding: 0;
	display: flex;
}
.cBtnBox{
	width: 15%;
	margin-left: 5px;
}
.cWriteBtn{
	width: 100%;
	float: right;
}
.commentsBtn{
	float: right;
}
.imgEditbtn{
	width: 40px;
	height: 30px;
}

.boardImg{
	width: 200px;
}