@charset "UTF-8";

.cateName{
	text-align: center;
}
.cateName a{
	text-decoration: none;
	color: gray;
	font-size: 14px;
}

.detailContainer{
	margin: auto;
	padding: auto;
	width: 90%;
	height: 90%;
}

.titleBox, .contentBox{
	margin: 10px;
	padding: 0;
	width: inherit;
}
.titleBox{
	height: 10%;
	border-bottom: 1px solid #dee2e6;
}
.bdate{
	font-size: 14px;
	color: gray;
	float: right;
	font-weight: normal;
}
.bread{
	margin: 10px 0 5px 10px;
	font-size: 14px;
	color: gray;
	float: left;
}
.mnickname{
	font-size: 14px;
	font-weight: bold;
	color: gray;
	padding-left: 5px;
	padding-bottom: 5px;
}
	
.contentBox{
	height: 35%;	
}
.bimageBox{
	margin: 10px;
	height: 35%;
}
.boardImgBox{
	margin: 10px;
	text-align: center;
}
.boardImg{
	width: 250px;
}

.bBtnBox{
	margin: auto;
	padding: 0;
	width: inherit;
}

.bedit{
	float: right;
	border: none;
	background: transparent;
	padding: 0;
}
.bdeleteBtnBox{
	margin: 10px;
	margin-top: 20px;
}
.bdelete {
	padding: 0;
	border: none; 
	background: transparent;
	font-size: 14px;
	color: gray;
}

/****************** comments *******************/
.commentContainer{
	margin: auto;
	padding: 0;
	width: 90%;
}
.noComments{
	width: inherit;
	margin: 30px 10px;
	padding: 20px 0px;
	border-top: 1px solid #dee2e6;
	text-align: center;
	color: #88abff;
	opacity: 0.5;
}

.cWholeBtnBox{
	border-top: 1px solid #dee2e6;
	width: 95%;
}
.cWholeBtn{
	width: inherit;
	margin: 5px;
	padding: 5px;
	border: none; 
	border-radius: 15px;
	background-color: #88abff;	
	color: white;	
}
.commentBox{
	margin: 10px;
	padding: 0;
	width: inherit;
	display: flex;
	border-bottom: 1px solid #dee2e6;
}
.cContentBox{
	width: 60%;
	margin: 5px 10px;
}
.chead{
	margin-bottom: 5px;
}
.cdate{
	margin-left: 5px;
	font-size: 14px;
	color: gray;
	font-weight: normal;
}
.commentsBtn{
	margin-left: 5px;
	float: right;
	display: flex;
	align-items: flex-end; 
}
.cedit{
	margin-right: 10px;
}
.cedit, .cdelete{
	border: none;
	background: transparent;
	padding: 0;
	margin-bottom: 10px;
	}

/****************** commentsWrite *******************/

.cWriteBox{
	margin: 10px;
	padding: 0;
	width: inherit;
}
.commentWriteForm{
	width: inherit;
	margin: 10px;
	margin-top: 20px;
	display: flex;
}
.cContent{
	width: 78%;
	height: 40px;
}
.cWriteBtn{
  	border: none;
	background: transparent;
	padding: 0;
	margin-left: 10px;
	margin-bottom: 10px;
}
/****************** boardEdit *******************/

.imgEditbtn{
	width: 40px;
	height: 30px;
}
