@charset "UTF-8";

@font-face {
	font-family: 'NanumSquareNeo-Variable';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}

* {
	font-family: 'NanumSquareNeo-Variable';
}

button {
	width: 350px;
	height: 50px;
	background-color: white;
	border: 1px solid #88abff;
	border-radius: 5px;
	margin: 0px auto;
}

.sellasText {
	margin-top: 200px;
	margin-bottom: 50px;
	width: 300px;
}

.page {
	margin-bottom: 200px;
}

.form-floating {
	margin: 0px auto;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 350px !important;
	text-align: center;
}

.text {
	text-decoration: none;
}

.resultText {
	font-size: 40px;
	font-weight: bold;
	color: rgba(33, 133, 255, 0.8);
}

.guideText {
	margin: 20px 0px;
	font-size: 22px;
	color: rgba(0, 0, 0, 0.7);
}

#idDiv, #emailDiv {
	font-size: 40px;
	font-weight: bold;
	color: #88abff;
	margin-bottom: 15px;
}

#sendCode {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 70px;
	height: 50px;
	border: 0px;
	margin-bottom: 10px;
}