@charset "UTF-8";
@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

*{
	font-family: 'NanumSquareNeo-Variable';
}
.menuBox{
	width: 100%;
}
.auctionBox, .boardMenuBox{
	margin: 20px 0;
}
.itemcategoryBox{
	margin-bottom: 20px 0;
}

.auction, .itemcategory, .boardMenu{
	list-style: none;
}
.auction li, .itemcategory li, .boardMenu li{
	margin: 15px;
}
.auction li a, .itemcategory li a, .boardMenu li a{
	text-decoration: none;
}

.menuBox a{
	text-decoration: none;
	color: inherit;
}
.boardMtitle, .tradeMtitle {
	font-weight: bold;
	font-size: 18px;
	padding-left: 20px;
}
.itemcategory, .boardMenu{
	margin-bottom: 20px;
}

.auction{
	padding-left: 0;
}
.auction li{
	margin-left: 0px;
}
.auction a{
	font-weight: bold;
	font-size: 18px;
	padding-left: 20px;
}

