.WholeContainer{
	height: 700px;
}
.tradecontainter{
	margin: auto;
	padding: auto;
	width: 90%;
	height: 90%;
}
.ncategoryBox{
	display: inline-block;
	height: 10%;
}
#navbarDropdown{
	float: right;
}

.normalEditFrm{
	margin: auto;
	padding: 0;
	width: inherit;
	height: inherit;	
}
.titleBox, .priceBox{
	display: inline-flex;
}
.priceBox{
	margin-top: 10px;
}
#ttitle, #tnormalprice{
	width: inherit;
}
#tcontent{
	width: inherit;
	height: 300px;
}

button {
	width: 350px;
	height: 50px;
	background-color: white;
	border: 1px solid #88abff;
	border-radius: 5px;
	margin: 0px auto;
}

.form-floating {
	margin: 0px auto;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
	text-align: center;
}
.accordion-item, .accordion-header{
	width: 100%;
}

#accordion {
	width: 100%;
}

#picker2, #camera {
	width: 50px;
}

.nEditBtnBox{
	width: 100%;
	position: relative;
    padding-bottom: 85px;
    margin-top: 20px;
    display: inline-block;
}
#normalEditBtn, #normalEditCBtn{
	padding: 0;
	width: 100%;
}
#normalEditBtn{
	margin-bottom: 10px;	
}
