@charset "UTF-8";
@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

*{
	font-family: 'NanumSquareNeo-Variable';
}
.nav {
	float: left;
	display: flex; /* 추가 */
	margin-top: 20px;
	margin-bottom: 15px;
}

.user-img {
	margin: 0 auto;
	width: 80px;
	height: 80px;
	border-radius: 70%;
	border: solid #e3e3e3 1px;
	overflow: hidden;
}

.user-img-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.user-nickname {
	font-weight: bold;
}

.user-nickname, .user-level {
	margin-left: 10px;
	display: flex;
	align-items: center;
}

#nickChangeBtn {
	 display: flex;
	width: 100px;
	height: 40px;
	padding: 5px;
	background-color: white;
	margin: 0 auto;
	margin-top: 15px;
	border-radius: 5px;
	border: solid #e3e3e3 1px;
	justify-content: center; 

}

#newNickname{
padding: 0;
padding-left: 15px;
height: 50px;

	}


.location {
	text-align: center;
	font-weight: bold;
	font-size: 20px;
}

.nicknameChange{
	margin-top: 80px;
}

#nicknameDIV {
	position: relative;
  width: 200px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 0;
}


.edit-div {
	 position: relative;
	margin: 0 auto;
	margin-top: 50px;
}

.camera{
text-align: center;
margin-top: 10px;
}


h6{
		margin-left: 40px;
		font-weight: bold;
		margin-top: 20px;
}
