.swiper {
  width: 330px;
  height: 310px;
}


.swiper-button-prev{
   background-size: 30% auto;
   
}



.location {
	text-align: center;
	font-weight: bold;
	font-size: 20px;
}

a {
	color: black !important;
}

.swiper-button-next{
background-size: 30% auto;
}


.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.progress{
   width: 60px;
}

.progress-bar{
   font-size: 9px;
}

.user-img {
   width: 60px;
   height: 60px;
   border-radius: 70%;
   border: solid #e3e3e3 1px;
   overflow: hidden;
   float: left;
}

.user-img-img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.expDiv{
   padding-top: 10px;
   font-size: 10px;
   float: right;
   margin-right: 10px;
   
}

.normalDiv{
   padding: 25px;
   padding-top: 10px;
   }
   
   .detailDiv{

   margin-top: 10px;
   }

   #detailID{
   float: left;
   padding: 20px;
   padding-right : 10px;
   font-weight: bold;
   }
   
   .user-level{
   padding: 20px;
   padding-bottom: 25px;
   border-bottom: solid #e3e3e3 1px;
   }
   
   
   .dtitle{
   font-weight: bold;
   }
   
   
   .dprice{
font-weight: bold;
float: left;
   }
   
   
   .dstate{
    border: solid #e3e3e3 1px;
    border-radius: 10px;
    width: 70px;
    text-align: center;
    font-size: 15px;
    float: right;
}

.dcontent{
   margin-top: 50px;
   min-height: 100px;
   padding: 10px;
}

.diname{
   float: left;
   margin-right: 20px;
}

.drow{
   color: gray;
   font-size: 14px;
   margin-top: 5px;
   margin-bottom: 5px;
}

#toggleBtn, #requestChatBtn{
   width: 90px;
   height: 35px;
   background-color: white;
   border: 1px solid #88abff ;
   border-radius: 5px;
   margin: 5px;
   float: right;
}

#delWishList{
	margin: 5px;
}

.TradeBtnBox{
	display: initial;
}
.hide{
    display: none;
 }
.tBtnBox{
	display:flex !important;
}
.toggleBtnBox{
	display: inline-block;
}
#normalHikeUpBtn, #normalEditBtn, #normalDeleteBtn{
	width: 90px;
   height: 35px;
   background-color: white;
   border: 1px solid #88abff ;
   border-radius: 5px;
   margin: 5px 5px;
   float: right;
}

.btnClicked{
	transition: transform 0.5s ease;
}

