.swiper {
  width: 330px;
  height: 310px;
}


.swiper-button-prev{
	background-size: 30% auto;
	
}



.swiper-button-next{
background-size: 30% auto;
}


.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.progress{
	width: 60px;
}

.progress-bar{
	font-size: 9px;
}

.user-img {
	width: 60px;
	height: 60px;
	border-radius: 70%;
	border: solid #e3e3e3 1px;
	overflow: hidden;
	float: left;
}

.user-img-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.expDiv{
	padding-top: 10px;
	font-size: 10px;
	float: right;
	margin-right: 10px;
	
}

.normalDiv{
	padding: 25px;
	padding-top: 10px;
	}
	
	.detailDiv{

	margin-top: 10px;
	}

	#detailID{
	float: left;
	padding: 20px;
	padding-right : 10px;
	font-weight: bold;
	}
	
	.user-level{
	padding: 20px;
	padding-bottom: 25px;
	border-bottom: solid #e3e3e3 1px;
	}
	
	
	.dtitle{
	font-weight: bold;
	}